<div class="example-card">
<mat-card class="card1">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title">Shingeki no Kyojin</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="aotImageUrl" alt="aot" />
  <mat-card-content>
    <p>
      La historia se desarrolla en un mundo ficticio en el que la humanidad está
      al borde de la extinción a causa de unas criaturas humanoides llamadas
      «titanes», lo que obliga a los sobrevivientes a refugiarse en tres enormes
      murallas que impiden el acceso a dichos monstruos.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><a href="https://jkanime.net/shingeki-no-kyojin/">View</a></button>
  </mat-card-actions>
</mat-card>

<mat-card class="card2">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title2">Major of Kingstown</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="mokImageUrl" alt="mok" />
  <mat-card-content>
    <p>
      Es una serie drama thriller que sigue la historia de la familia McLusky,
      la misma que ha hecho las paces con sus raíces respecto al negocio del
      sistema penitenciario, la única industria próspera hoy día. Ambos hermanos
      deben intentar traer justicia y orden a una ciudad que no tiene ninguna de
      estas dos cosas, permaneciendo casi siempre neutrales. Sin embargo, hay
      otras personas que no aprecian mucho el hecho de que esta familia tenga
      tanto control sobre la ciudad.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><a href="https://ver.cuevana3.cc/series/alcalde-de-kingstown/">View</a></button>
  </mat-card-actions>
</mat-card>

<mat-card class="card3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title3">Friends</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="friendsImageUrl" alt="friends" />
  <mat-card-content>
    <p>
      La serie trata sobre la vida de un grupo de amigos —Chandler Bing, Phoebe
      Buffay, Monica Geller, Ross Geller, Rachel Green y Joey Tribbiani— que
      residen en Manhattan, Nueva York. Suceden tanto buenos como malos
      momentos, pero con una crítica cómica a los hechos más trascendentales de
      la actualidad.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><a href="https://www2.pelisplus.so/serie/friends">View</a></button>
  </mat-card-actions>
</mat-card>

<mat-card class="card4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title4">Jujutsu Kaisen</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="jjkImageUrl" alt="jjk" />
  <mat-card-content>
    <p>
      Jujutsu Kaisen es un anime que sigue la historia de Yuji Itadori, un
      estudiante de secundaria que vive en Sendai junto a su abuelo. Aunque
      tenga un talento innato para el deporte, evita de todas formas el equipo
      de pista debido a su aversión al atletismo. Habiendo interpretando los
      mensajes con que todos se merecen una muerte adecuada, Itadori se enfrenta
      a un hechicero haciéndose con un talismán que oculta con dedo podrido y
      que atrae criaturas que surgen a través de emociones negativas.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><a href="https://jkanime.net/jujutsu-kaisen-tv/">View</a></button>
  </mat-card-actions>
</mat-card>

<mat-card class="card5">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title5">The Walking Dead</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="twdImageUrl" alt="twd" />
  <mat-card-content>
    <p>
      La serie presenta un gran elenco como sobrevivientes de un apocalipsis zombi, tratando de mantenerse con vida bajo la amenaza casi constante de ataques de los zombis sin conciencia, coloquialmente conocidos como «caminantes». Sin embargo, con la caída de la humanidad, estos sobrevivientes también enfrentan conflictos con otros sobrevivientes que han formado grupos y comunidades con sus propios conjuntos de leyes y morales, lo que a menudo conduce a conflictos hostiles entre las comunidades humanas.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><a href="https://ver.cuevana3.cc/series/the-walking-dead-origins/">View</a></button>
  </mat-card-actions>
</mat-card>
</div>
